In [3]:
# import dependencies
import pandas as pd
import numpy as np
import requests
import json
from pandas.io.json import json_normalize

from datetime import date

today = str(date.today())

listx = ["33.972386,-84.231986","47.6062,-122.3321", "42.3601,-71.0589","34.0522,-118.2437"]
# listname = ["Norcross", "Seattle", "Boston", "Los Angeles"]


dflist = pd.DataFrame()

for i in listx:
    url = f"https://api.darksky.net/forecast/fb0e09b8e9092cef1008bfe2eef00118/{i}"
    #print(url)
    response = requests.get(url)
    data = response.json()
    citydf = json_normalize(data['minutely']['data'])
    df = citydf.loc[:,["time","temperature","pressure","humidity"]]
    df['clean time'] = pd.to_datetime(df['time'], unit='s')
    df = df[["clean time", "temperature", "pressure","humidity"]]
    df['city'] = i
    df['run_date'] = today
    dflist = dflist.append(df)
    
dflist.head()

C:\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,clean time,temperature,pressure,humidity,city,run_date
0,2019-05-12 21:04:00,NaN,NaN,NaN,"33.972386,-84.231986",2019-05-12
1,2019-05-12 21:05:00,NaN,NaN,NaN,"33.972386,-84.231986",2019-05-12
2,2019-05-12 21:06:00,NaN,NaN,NaN,"33.972386,-84.231986",2019-05-12
3,2019-05-12 21:07:00,NaN,NaN,NaN,"33.972386,-84.231986",2019-05-12
4,2019-05-12 21:08:00,NaN,NaN,NaN,"33.972386,-84.231986",2019-05-12

In [2]:

with open('Agg_Data.csv', 'a') as f:
    dflist.to_csv(f, header=False)