In [1]:
# import dependencies
import pandas as pd
import numpy as np
import requests
import json
from pandas.io.json import json_normalize

from datetime import date

today = str(date.today())

listx = ["33.972386,-84.231986","47.6062,-122.3321", "42.3601,-71.0589","34.0522,-118.2437"]
# listname = ["Norcross", "Seattle", "Boston", "Los Angeles"]


dflist = pd.DataFrame()

for i in listx:
    url = f"https://api.darksky.net/forecast/fb0e09b8e9092cef1008bfe2eef00118/{i}"
    #print(url)
    response = requests.get(url)
    data = response.json()
    citydf = json_normalize(data['hourly']['data'])
    df = citydf.loc[:,["time","temperature","pressure","humidity"]]
    df['clean time'] = pd.to_datetime(df['time'], unit='s')
    df = df[["clean time", "temperature", "pressure","humidity"]]
    df['city'] = i
    df['run_date'] = today
    dflist = dflist.append(df)
    
dflist.head()

,clean time,temperature,pressure,humidity,city,run_date
0,2019-05-12 21:00:00,72.24,1007.45,0.78,"33.972386,-84.231986",2019-05-12
1,2019-05-12 22:00:00,73.54,1007.17,0.75,"33.972386,-84.231986",2019-05-12
2,2019-05-12 23:00:00,72.18,1006.92,0.77,"33.972386,-84.231986",2019-05-12
3,2019-05-13 00:00:00,70.31,1007.24,0.82,"33.972386,-84.231986",2019-05-12
4,2019-05-13 01:00:00,68.08,1007.61,0.87,"33.972386,-84.231986",2019-05-12

In [2]:

with open('Agg_Data.csv', 'a') as f:
    dflist.to_csv(f, header=False)